@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Design Tokens */
  --font-size: 16px;
  --radius: 0.625rem;

  /* Color Tokens */
  --color-primary: #2d5a3d;
  --color-secondary: #ffffff;
  --color-primary-foreground: var(--color-secondary);
  --color-secondary-foreground: var(--color-primary);
  --color-bg-card: #f5f5f5;
  --color-accent: #b48e4e;
  --color-muted: #9eb3a7;
  --color-muted-light: color-mix(in srgb, var(--color-muted) 50%, transparent);
  --color-muted-foreground: #1b3a2a;
  --color-destructive: #d4183d;
  --color-border: #e3e3da;
  --color-text-main: #1b3a2a;
  --color-text-muted: #647760;

  /* Typography weights */
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

/*.dark {*/
/*  --color-primary: oklch(0.985 0 0);*/
/*  --color-secondary: oklch(0.145 0 0);*/
/*  --color-bg-card: oklch(0.145 0 0);*/
/*  --color-accent: oklch(0.269 0 0);*/
/*  --color-destructive: oklch(0.396 0.141 25.723);*/
/*  --color-border: oklch(0.269 0 0);*/
/*}*/

@layer base {
  header {
    @apply bg-primary text-secondary;
  }

  body {
    @apply bg-secondary text-text-main;
    font-size: var(--font-size);
  }

  button {
    @apply font-medium;
  }

  input,
  label,
  p,
  h1, h2, h3, h4 {
    font-weight: var(--font-weight-normal);
  }
}

.card {
  @apply bg-bg-card text-text-main rounded-[var(--radius)] p-4 border border-border;
}

.btn-primary {
  @apply bg-accent text-text-main rounded-[var(--radius)] p-2;
}

.btn-primary:hover {
  @apply bg-accent/90;
}

.footer {
  @apply text-text-muted;
}

@layer components {
  .project-description-content {
    @apply leading-normal;
  }
  .project-description-content ol {
    @apply list-decimal pl-10;
  }
  .project-description-content ul {
    @apply list-disc pl-10;
  }
  .project-description-content > * + * {
    @apply mt-4 p-0;
  }
}